<div class="posts list-group">
  {{#each posts}}
      {{!-- <input id="input-id" type="text" class="rating" data-size="lg" > --}}
    <a class="list-item flex-row justify-space-between text-center" href="/dashboard/edit/{{id}}">
      <span>{{subject}}</span>
      <span>Description: {{description}}</span>
      {{!-- <span>{{year}}</span>
      <span>{{make}}</span>
      <span>{{model}}</span>
      <span>{{format_date createdAt}}</span> --}}
    </a>
  {{/each}}
  
</div>