<div class="posts list-group">
 
  {{#each posts}}
<div class="card text-center text-white bg-info mb-3">
  {{!-- <div class="card"> --}}
  <div class="card-header card text-white bg-dark mb-3">
    
    <span><p class="text-center">Posted by: {{user.name}}</p></span>
    <span class="text-center"><h3>{{subject}}</h3></span>
  </div>

    <span><p class="text-center">{{description}}</p></span>

    <span><p class="text-center">Year: {{year}}</p></span>
    <span><p class="text-center">Make: {{make}}</p></span>
    <span><p class="text-center">Model: {{model}}</p></span>
    <span><p class="text-center">{{format_date createdAt}}</p></span>
    <a class="list-item text-center" href="/dashboard/edit/{{id}}">
      <button id="edit" class="border-warning btn btn-primary" type="edit">
        Edit Post
      </button>
    </a>

    <a class="list-item text-center" href="/post/{{id}}">
      <button id="edit" class="border-primary btn btn-warning" type="edit">
        Comment on Post
      </button>
    </a>
</div>



  {{/each}}


</div>

