<div class="posts list-group">
  {{!-- <div class="p-3 mb-2 bg-danger-subtle text-emphasis-danger"> --}}
  {{#each posts}}
      {{!-- <input id="input-id" type="text" class="rating" data-size="lg" > --}}
      <span><h3>{{subject}}</h3></span>
      <span><p>Description: {{description}}</p></span>
   
      {{!-- <span>{{year}}</span>
      <span>{{make}}</span>
      <span>{{model}}</span>
      <span>{{format_date createdAt}}</span> --}}
    <a class="list-item text-center" href="/dashboard/edit/{{id}}">
    Edit Post
    </a>
    <a class="list-item text-center" href="/post/{{id}}">
    Comment on Post
    </a>
  {{/each}}
  
    {{!-- </div> --}}
</div>